src/QtFFmpegPlayer/.vs
src/QtFFmpegPlayer/GeneratedFiles
src/QtFFmpegPlayer/x64
bin/QtFFmpegPlayer.exe
*.a
*.def
*.ilk
*.pdb
bin/*.dll
bin/audio
bin/platforms
bin/ffplay.exe
bin/ffmpeg.exe
bin/ffprobe.exe
